header {
	background-color: #005f99;
	color: white;
	text-align: center;
	padding: 5px;
}

body {
  background-color: #bababa;
}

.content{
    padding-top: 10px;
    margin: auto;
}

.biography{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

.achievements{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

footer{
    color: white;
    background-color: #005f99;
    padding: 15px;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}